body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instructions-container, 
#quiz-container {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#instructions-container {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

button:focus {
    outline: 2px solid #FFD700;
}


.hidden {
    display: none;
}

#options {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
}

#options button {
    width: 100%;
}

.win-message {
    color: green;
}

.lose-message {
    color: red;
}
