body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffccdc;

}

#instructions-container, 
#quiz-container {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#instructions-container {
    background: transparent;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

button {
    background-color: rgba(54, 51, 51, 0.3); /* Transparent gray */
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #3A6EA5;

}

button:focus {
    outline: 2px solid #ccffed;
}


.hidden {
    display: none;
}

#options {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
}

#options button {
    width: 100%;
}

.win-message {
    color: #5aaf6f;
}

.lose-message {
    color: red;
}

#quiz-image {
    display: block;
    margin: 20px auto;
    width: 220px;
    height: auto;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#instructions-container {
    color: #5aaf6f;
    background-color: rgba(255, 255, 255, 0.7); /* Slight transparency */
    padding: 20px;
    border-radius: 10px;
    animation: slideIn 1s ease-out;
}

footer {
    background-color: rgba(54, 51, 51, 0.3); /* Transparent gray */
    color: white;
    text-align: center;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 8px;
}

footer a:hover {
    text-decoration: underline;
}
