body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffccdc;

}

#instructions-container, 
#quiz-container {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#instructions-container {
    background: transparent;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

button {
    background-color: rgba(54, 51, 51, 0.3); /* Transparent gray */
    /* background: #7a7f7a; */
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    /* background: #4A90E2; */
    background: #3A6EA5;

}

button:focus {
    outline: 2px solid #ccffed;
}


.hidden {
    display: none;
}

#options {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
}

#options button {
    width: 100%